.about {
  padding-bottom: 10rem;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  .about_desktop {
    @media (min-width: 1649px) {
      padding-bottom: 1rem;
    }
    .about__pic {
      position: relative;
      top: 9rem;
      left: 0rem;
      z-index: 1;
      img {
        aspect-ratio: 4/1;
        object-fit: cover;
        object-position: 8% 50%;
        border: 0.5px solid var(--nav-overlay-color);
        @media (min-width: 1649px) {
          width: 150vw;
          height: 55vh;
          object-fit: cover;
          border-radius: 0rem;
          border: none;
        }
      }
    }

    .detailed__containerr {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      width: 100%;
      height: 165vh;
      padding: 2rem 2rem;
      @media (min-width: 1649px) {
        height: 127vh;
      }
      .detailed__row {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        width: 100%;
        gap: 2rem;
        flex-direction: column;
        position: relative;
        z-index: 3;
        margin-right: 4rem;

        .aboutttt__container {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: left;
          flex-direction: column;
          width: 100%;

          .about__content {
            display: flex;
            flex-direction: column;
            width: 100%;

            h1 {
              font-size: 3rem;
              font-weight: var(--font-medium);
              color: #eee6e1;
              margin-bottom: 2rem;
              padding: 1rem;
              width: 80%;
              letter-spacing: 0.3rem;
              text-transform: uppercase;
              font-family: "Posterama", sans-serif;
              position: relative;
              z-index: 99999999;
            }

            h2 {
              font-size: 2rem;
              font-weight: var(--font-medium);
              color: var(--nav-overlay-color);
              margin-bottom: 1rem;
              width: 80%;
              letter-spacing: 0.3rem;
              text-transform: uppercase;
              font-family: "Posterama", sans-serif;
              z-index: 9;
            }
          }

          .about__description {
            white-space: pre-wrap;
            text-align-last: left;
            text-align: justify;
            gap: 1rem;
            display: flex;
            flex-direction: column;

            p {
              font-family: "Satoshi-Light", sans-serif;
              font-size: 1.5rem;
              line-height: 28px;
              width: 62%;
              letter-spacing: 0.05rem;
              color: var(--title-color);
              white-space: pre-wrap;
              text-align-last: left;
              text-align: justify;
            }
          }

          .about__quote {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;

            span {
              color: var(--title-color);
            }

            h3 {
              font-family: "Posterama", sans-serif;
              font-size: 3.5rem;
              width: 92%;
              letter-spacing: 0.05rem;
              color: var(--title-color);
            }

            .quote__explain {
              width: 75%;

              span {
                font-family: "Satoshi-Light", sans-serif;
                font-size: 1.1rem;
                letter-spacing: 0.05rem;
                color: var(--title-color);
              }
            }
          }
        }
      }
    }
    .about__bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      min-height: 170vh;
      margin-top: 10rem;
      @media (min-width: 1649px) {
        transform: translateY(-7rem);
        min-height: 100vh;
        padding: 0rem 2rem;
      }
      h2 {
        font-size: 3rem;
        text-align: end;
        font-weight: var(--font-medium);
        color: var(--title-color);
        margin-bottom: 2rem;
        padding: 1rem;
        width: 80%;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-family: "Posterama", sans-serif;
      }

      .exp_desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 2rem;
        gap: 0.5rem;

        h3 {
          font-family: "Posterama", sans-serif;
          font-size: 1.2rem;
          line-height: 28px;
          width: 62%;
          letter-spacing: 0.3rem;
          color: var(--title-color);
          white-space: pre-wrap;
          text-align-last: right;
          text-align: justify;
        }
      }

      .skills_desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 2rem;
        gap: 0.5rem;

        h3 {
          font-family: "Posterama", sans-serif;
          font-size: 1.2rem;
          line-height: 28px;
          width: 62%;
          letter-spacing: 0.3rem;
          color: var(--title-color);
          white-space: pre-wrap;
          text-align-last: right;
          text-align: justify;
        }
      }

      .kudos_desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2rem;
        gap: 0.5rem;

        h2 {
          text-align: left;
        }

        h3 {
          font-family: "Posterama", sans-serif;
          font-size: 1rem;
          line-height: 28px;
          width: 62%;
          letter-spacing: 0.3rem;
          color: var(--title-color);
          text-align: justify;
        }
        button {
          margin-top: 1rem;
          height: 3rem;
          width: 16rem;
          background-color: var(--nav-overlay-color);
          color: var(--container-color);
          border: none;
          font-size: 1.4rem;
          letter-spacing: 0.23rem;
          font-family: "Satoshi-MediumItalic", sans-serif;  
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: var(--container-color);
            color: var(--title-color);
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}



.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;

  .load-screen {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: var(--transition-color);
    width: 100%;
    height: 0%;
  }
}

.cv__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: var(--nav-overlay-color);
  line-height: 0.5;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &:hover {
    color: var(--nav-overlay-color);
  }

  button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--title-color);
    font-family: "Posterama", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      left: 1.8rem;
      top: 2.2rem;
      width: 50%;
      height: 2px;
      background-color: var(--text-color);
      transform: scaleX(0);
      transform-origin: left;
      transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-0.5rem);
  }

  50% {
    transform: translateY(0.2rem);
  }

  100% {
    transform: translateY(-0.5rem);
  }
}

.scroll-down {
  animation: scrollDown 1.5s infinite;
}


