.scrollup {
    position: fixed;
    right: 2.5rem;
    bottom: 3rem;
    background-color: var(--container-color);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s ease;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: var(--title-color-dark);
    transition: 0.4s ease;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.2rem;
}

.scrollup:hover {
    border-radius: 2rem;
    background-color: #ffffff;
}

.show-scroll {
    transition: 0.4s ease;
    display: none;
}
