.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: none;
    border: none;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2em;
    cursor: pointer;
    color: #fff8f8;
    font-family: "Reggae One";
    font-size: 3rem;
  }

  
  .headerr {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #eee7e1;
    color: #fff8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    font-family: "Voyage";
    font-size: 8em;
  }
  
  .text-containerr {
    position: fixed;
    width: 120%;
    height: 100vh;
    background: #1b1b1b;
    z-index: -1;
  }
  
  .text-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: default;
  }
  
  .text {
    width: 300%;
    font-family: "Voyage";
    font-size: 5vw;
    text-transform: uppercase;
    opacity: 0.1;
    color: #fff8f8;
  }