.introduction{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background-color: #1b1b1b;
    p{
        display: flex;
        color: #FFFFE3;
        font-size: 42px;
        align-items: center;
        position: absolute;
        z-index: 1;
        span{
            display: block;
            width: 10px;
            height: 10px;
            background-color: #FFFFE3;
            border-radius: 50%;
            margin-right: 10px;
            letter-spacing: 0.15rem;
        }
    }
}

