.toggle__main {

    position: fixed;
    left: 2rem;
    bottom: 5rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}



.toggle__container {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 0.4rem;
    border-radius: 2rem;
    gap: 0.5rem;
    display: flex;
    box-shadow: var(--box-shadow);
    color: var(--accent-color);
    cursor: pointer;

}

.toggle__container button {
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    transition: 0.4s ease;
    cursor: pointer;
}


.active {
    color: var(--dark-mode-icon-color);
    cursor: pointer;
}

.handle {
    z-index: -1;
    cursor: pointer;
}

@media (min-width: 600px) and (max-width: 900px) {
  .switch {
    width: 2.5rem;
    height: 5rem;
    font-size: 1rem;
  }

  .handle {
    width: 2rem;
    height: 2rem;
  }

  .uil {
    font-size: 1.25rem;
  }
}

/* For screens larger than 900px */
@media (min-width: 900px) {
  .switch {
    width: 3.125rem;
    height: 6.25rem;
    font-size: 1.25rem;
  }

  .handle {
    width: 2.2rem;
    height: 2.2rem;
  }

  .uil {
    font-size: 1.5rem;
  }
}