.main {
    @media (max-width: 436px) {

        & {
            transform: translateY(-3.2rem);
        }

        &__container h1 {
            width: 120%;
            letter-spacing: 0.1rem;
            font-size: 1.35rem;
            transform: translateX(-2.2rem);
        }

        &__content span {
            letter-spacing: 0.1rem;
            font-size: 1.35rem;
        }

        & {
            width: 100%;
        }

        &__subcontent p {
            width: 97.8%;
            font-size: 0.77rem;
            padding-left: 0.6rem;
            letter-spacing: 0;
        }

        &__links {
            position: relative;
            width: 99.1%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 0.3rem;
            line-height: 1rem;

            p {
                width: 100%;
                font-size: 0.8rem;
                padding: 0 1rem;
                letter-spacing: normal;
                gap: 0.1rem;

            }

            i {
                font-size: 0.7rem;
            }
        }
    }

    @media (max-width: 380px) {
        & {
            transform: translateY(-1rem);
        }
        &__container h1 {
            width: 120%;
            letter-spacing: 0.1rem;
            font-size: 1.35rem;
            transform: translateX(-2.2rem);
        }

        &__content span {
            letter-spacing: 0.1rem;
            font-size: 1.35rem;
        }
    }
}