$color_1: var(--title-color);
$color_2: var(--text-color);
$color_3: var(--accent-color);
$color_4: var(--container-color);
$color_5: #973636;
$font-family_1: "Satoshi-Light", sans-serif;
$font-family_2: "Posterama", sans-serif;
$font-family_3: "Satoshi-BoldItalic", sans-serif;
$background-color_1: var(--body-color);
$background-color_2: var(--transition-color);
$background-color_3: #f5f5f5;
$background-color_4: #aaa;
$background-color_5: #555;


.portfolio-tablet {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    
    .text-container-tablet {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin: 0.2rem 0;
        align-items: flex-start;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        line-height: 3.9;
        width: 100%;
        height: 52.25rem;
        overflow: hidden;
        .menu-text-tablet {
    
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
            width: 88vw;
            height: 5vh;
            h2 {
                width: 100%;
                color: $color_1;
                font-size: 4vw;
                font-family: $font-family_2;
                top: 0;
                font-weight: bolder;
                transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
                position: relative;
                white-space: nowrap;
                cursor: pointer;
                padding-top: 0.5rem;
                letter-spacing: 0.5rem;
                padding-left: 0.2rem;

            }
        
        
            .isNew-tablet {
                position: relative;
                top: -0.2rem;
        
                .workingonit {
                    color: $color_4;
                    font-family: $font-family_3;
                    font-size: 0.75rem;
                    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
                    position: relative;
                    white-space: nowrap;
                    cursor: pointer;
                    padding: 0 0.3rem;
                    background-color: $color_5;
                }
        
                h3 {
                    color: $color_4;
                    font-family: $font-family_3;
                    font-size: 0.75rem;
                    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
                    position: relative;
                    white-space: nowrap;
                    cursor: pointer;
                    padding: 0 0.3rem;
                    background-color: var(--accent-color);
                }
            }
            p {
                color: $color_2;
                font-family: $font-family_1;
                font-size: 1.5vw;
                transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
                white-space: nowrap;
            }
        }
    }
}



@media (max-width: 466px) {
    .menu {
        width: 100vw;
    }
}