.section__title {

    margin-bottom: 0.7rem;
}


.blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

  .post__boxItems {
    transition: 0.5s;
    background-color: var(--container-color);
    padding: 1.25rem;
    border-radius: 0.8725rem;
    border: 1.2px dotted var(--border-color);
    
  }
  .post__boxItems:hover {
    border-radius: 1rem;
    --webkit-box-shadow: var(--webkit-shadow);
    -moz-box-shadow: var(--moz-shadow);
    box-shadow: var(--box-shadow);
    cursor: pointer;
  }
  .post__img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  .post__icon {
    margin-right: 10px;
    color: var(--accent-color-darker);
    font-size: 0.9rem;
    
  }

  .post__hashtag {
    margin-right: 10px;
    color: var(--accent-color-darker);
    font-size: 0.9rem;
  }
  .post__tag {
        margin-right: 10px;
        color: var(--accent-color-darker);
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
  .post__tag a {
    color: var(--accent-color-darker);
    opacity: 0.7;
  }

  .post__title-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent-color);
  }
  .post__subtitle {
    color: var(--text-color);
    font-weight: 400;
    margin: 0.325rem 0;
    font-size: var(--normal-font-size);
  }

  
  .blog__card_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }


  .post__date img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;

  }

    .post__date span {
        color: var(--accent-color);
        font-size: 0.85rem;
        font-weight: 400;
        margin-right: 1rem;
    }
    .post__date label {
        color: var(--text-color);
        font-size: 0.7rem;
        font-weight: 400;
    }

    .post__date {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: space-between;
        
      }
      .post__date-imgname {
        display: flex;
        align-items: center;
        line-height: 15px;
        gap: 0.1875rem;
      }


      .category__tabs {
        display: flex;
        justify-content: center;
        margin-bottom: var(--mb-2);
        border: 1px solid rgba(0, 0, 0, 0.1);  
        border-radius: 1.5rem;
        box-shadow: var(--box-shadow);
        background-color: var(--container-color);
        align-items: center;
        text-align: center;
        width: 40%;
    }
    
    .category__button {
        font-size: var(--h3-font);
        font-weight: var(--font-medium);
        color: var(--title-color);
        margin: var(--mb-1);
        cursor: pointer;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .category__icon {
        font-size: 1.8rem;
        margin-right: var(--mb-0-25);
    }
    
    .category__active {
        color: var(--title-color-dark);
        background-color: var(--title-color);
        color: var(--container-color);
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 2rem;
        transition: 0.3s ease;
        padding: 0.2rem 0.9rem;
    }
    

.filter__search {
  display: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  z-index: 10;
  
}

.blog__category_search {
  display: flex;
  justify-content: center;
  gap: 4rem;
}