.forgot__container {
    grid-template-columns: repeat(1, 350px);
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.forgot__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 2rem 4rem;
    text-transform: lowercase;
    transition: 0.6s ease;
    text-align: left;
    align-items: first baseline;
}

.forgot__content:hover {
    -webkit-box-shadow: var(--webkit-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
    box-shadow: var(--box-shadow);
}

.forgot__title {
    font-size: var(--nornmal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
    text-transform: uppercase;
}

.forgot__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 2.4rem;
    gap: 1rem;
}

.login-with-google-btn {
    background-color: var(--text-color);
    color: var(--container-color);
    padding: 0.7rem 1.2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    display: inline-block;
    align-items: center;
    transition: 0.6s ease;
}

.login-with-google-btn:hover {
    background-color: var(--title-color);
    border-radius: 0rem;
}

.forgot__page-content {
    display: flex;
    flex-direction: column;
}

.forgot__form {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 1rem;
}

.forgot__input {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    gap: 0.5rem;
}

.forgot__input input {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.6s ease;
    color: var(--accent-color);
    background-color: var(bacground-color);
}

.forgot__input input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}



.forgot__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.button__icon-forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    margin-top: 0.2rem;
}

.forgot__button-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    background-color: var(--text-color);
    color: var(--container-color);
    font-weight: var(--font-medium);
    align-items: center;
    transition: 0.6s ease;
}

.forgot__button-sign:hover {
    background-color: var(--title-color);
    border-radius: 0rem;
}

.forgot__button-sign:active {
    background-color: var(--title-color);
    border-radius: 0rem;
}

.forgot__forgot {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    text-align: left;
    gap: 0.5rem;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.forgot__link {
    color: var(--accent-color);
}

.or__container {
    align-items: center;
    color: var(--accent-color);
    display: flex;
    margin: 25px 0
}
.line__separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}
.or__label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}

.forgot__error-msg {
    color: red;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot__subtitle {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    text-align: left;
    margin-bottom: var(--mb-0-75);;
}