$color_1: var(--title-color);
$color_2: var(--container-color);

.toggle__main {
	position: fixed;
	left: 2rem;
	bottom: 11rem;
	z-index: 999999999999;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);

}
.toggle__container {
	display: flex;
	flex-direction: column;
	padding: 0.6rem 0.4rem;
	border-radius: 2rem;
	gap: 0.5rem;
	display: flex;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	position: fixed;
	z-index: 9999999999;
	button {
		padding: 0.5rem 0.8rem;
		border-radius: 2rem;
		transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
		cursor: pointer;
	}
}
.sun_icon {
	color: $color_1;
	font-size: 3.35rem;
	transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
	cursor: pointer;
}
.switch {
	position: fixed;
	z-index: 9999999;
}
.active {
	cursor: pointer;
}
.handle {
	z-index: -1;
	cursor: pointer;
}
