* body {
    background-color: #ffebeb
}

.nav {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5.2rem;
    transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-overlay {
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 20vh;
    transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
    background-color: var(--nav-overlay-color);
}
  

.side__navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
}

.logo {
    text-decoration: none;
    color: var(--logo-color);
    font-size: 1.5em;
    font-family: "Satoshi-Bold", sans-serif;
    letter-spacing: 0.3rem;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    
}

.logo.spin {
    color: var(--container-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    transition-delay: 1s;
}

.menu__toggle {
    
    cursor: pointer;
}


.hamBox {
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;

}


.lineTop, .lineBottom {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 10px;
    background: var(--text-color);
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
    
}

.lineTop {
    color: var(--accent-color);
    top: 1em;
}

.lineBottom {
    color: var(--accent-color);
    top: 0.35em;
}



.lineTop.spin {
    top: 1.35em;
    transform: rotate(135deg);
    background: var(--container-color);
}

.lineBottom.spin {
    top: 1.35em;
    transform: rotate(225deg);
    background: var(--container-color);
}

.nav-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    color: var(--container-color);
}


@media (max-width: 414px) {
    .navbar {

      padding: 2.5rem;
    }
  
    .side__navbar {
      margin-top: 1.5rem;
      justify-content: space-between;
    }
  
    .logo {
    font-size: 0.7rem;
      margin-bottom: 1.5rem;
    }
    
    .nav-footer {
        position: relative;
        justify-content: center;
        padding-top: 2rem;
      }
      
      .nav-overlay {
        height: 55vh;
      }

      .hamBox {
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
      }
    
      .lineTop,
      .lineBottom {
        margin: 0;
        font-size: 0.5rem;
      }
    
      .lineTop.spin {
        font-size: 0.5rem;
      }
    
      .lineBottom.spin {
        font-size: 0.5rem;
      }
    }

    @media screen and (min-width: 24in) {
        .nav-overlay {
          height: 15rem;
        }
      }