$color_1: var(--logo-color);
$color_2: var(--container-color);
$color_3: var(--title-color);
$font-family_1: "Posterama", sans-serif;
$background-color_1: var(--nav-overlay-color);

.nav {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-overlay {
	position: absolute;
	z-index: -2;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 20vh;
	transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
	background-color: $background-color_1;
}

.navbar__container {
	display: flex;
	position: relative;
	justify-content: space-between;
	transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
	z-index: 999999;
	width: 100vw;
	height: 12vh;
	padding: 5rem 5rem 5rem 3rem;
}

.side__navbar {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.logo {
	text-decoration: none;
	color: $color_1;
	font-size: 1.5em;
	font-family: $font-family_1;
	letter-spacing: 0.3rem;
	font-weight: bolder;
	cursor: pointer;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
}

.logo.spin {
	color: $color_2;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	transition-delay: 1s;
}

.menu-toggle {
	cursor: pointer;
}

.menu-toggled {
	cursor: pointer;

}


.hamBox {
	position: relative;
	width: 2.75rem;
	height: 2.75rem;
	cursor: pointer;
	border-radius: 50%;
	transition: 0.3s ease;

}

.lineTop {
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 1.5rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--text-color);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: 1em;
}

.lineBottom {
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 1.5rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--text-color);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	color: $color_3;
	top: 0.35em;
}

.lineTopAbout {
	background: #fff;
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 1.5rem;
	height: 0.225rem;
	border-radius: 0.625rem;
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: 1em;
	
	
}

.hamBoxAbout {
	position: relative;
	width: 2.75rem;
	height: 2.75rem;
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	background: rgba(158, 158, 158, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(1px);
	border: 0.1px solid rgba(158, 158, 158, 0.3);
}

.lineBottomAbout {
	background: #fff;
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 1.5rem;
	height: 0.225rem;
	border-radius: 0.625rem;
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	color: $color_3;
	top: 0.35em;
}

.logoAbout {
	text-decoration: none;
	color: #ffffeb;
	font-family: $font-family_1;
	letter-spacing: 0.3rem;
	font-weight: bolder;
	cursor: pointer;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	background: rgba(158, 158, 158, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
	border: 0.1px solid rgba(158, 158, 158, 0.3);
	padding: 0.3rem;
}

.lineTop.spin {
	top: 1.35em;
	transform: rotate(135deg);
	background: var(--container-color);
}

.lineBottom.spin {
	top: 1.35em;
	transform: rotate(225deg);
	background: var(--container-color);
}

.nav-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 2em;
	display: flex;
	justify-content: space-between;
	color: $color_2;
}



@media (max-width: 454px) {
	.nav {
		width: 70vw;
	}

	.navbar {

		padding-top: 0rem;
		justify-content: space-between;
		align-content: center;
		text-align: center;
		line-height: 0.1rem;
		gap: 0em;
		height: 10rem;
		display: flex;
	}


	.side__navbar {
		display: flex;
		justify-content: space-between;
		align-content: center;
		width: 100%;
		gap: 0rem;
		z-index: 999;
		position: relative;
	}

	.navbar__container {

		display: flex;
		justify-content: space-between;
		padding: 0rem;
		width: 100%;
		margin-top: 0rem;
		padding-bottom: 2rem;
	}

	.logo {
		font-size: 0.8rem;
	}

	.dropdown__icon {
		font-size: 0.8rem;
		position: absolute;
		top: 0rem;
		font-size: 0.8rem;
		position: absolute;
		top: -0.2rem;
		left: 6.5rem;
	}

	.hamBox {
		width: 2.375rem;
		height: 2.5rem;
		position: absolute;
		top: 0rem;
		left: 10.5rem;
		z-index: 9999;
	}

	.hamBoxOpen {
		width: 1.375rem;
		height: 1.5rem;
		position: absolute;
		top: 0rem;
		left: 11.5rem;
		z-index: 9999;
	}

	.lineTop {
		color: $color_3;
		top: 0.75em;
	}

	.dropdown__icon.spin {
		display: none;
	}

	.nav-overlay {
		height: 20vh;
		width: 100%;
	}

	.lineTop.spin {
		top: 0.35em;
		left: 0rem;
		transform: rotate(135deg);
		background: var(--container-color);
	}

	.lineBottom.spin {
		top: 0.40em;
		left: 0rem;
		transform: rotate(225deg);
		background: var(--container-color);
	}

	.logo.spin {
		letter-spacing: 0.4rem;
		font-size: 0.9rem;
		padding-top: 0rem;
	}

	.nav__footer {
		display: none;
	}

	.lineBottomAbout {
	background: #fff;
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 1.5rem;
	height: 0.225rem;
	border-radius: 0.625rem;

	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	color: $color_3;
	top: 0.35em;
	}
	.lineTopAbout {
		background: #fff;
		margin: 0 auto;
		position: absolute;
		display: block;
		width: 1.5rem;
		height: 0.225rem;
		border-radius: 0.625rem;

		transform: rotate(0deg);
		transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
		color: $color_3;
		top: 1em;
		}
		.hamBoxAbout {
			position: relative;
			width: 2rem;
			height: 1.75rem;
			cursor: pointer;
			border-radius: 50%;
			transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
			background: rgba(158, 158, 158, 0.2);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(1px);
			border: 0.1px solid rgba(158, 158, 158, 0.3);
			right: -9.5rem;
			top: 0.5rem;
		}
		
.logoAbout {
	text-decoration: none;
	color: #ffffeb;
	font-family: $font-family_1;
	letter-spacing: 0.3rem;
	font-weight: bolder;
	cursor: pointer;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	background: rgba(54, 54, 54, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
	border: 0.1px solid rgba(158, 158, 158, 0.3);
	padding: 0.3rem;
}


}