$color_1: var(--logo-color);
$color_2: var(--container-color);
$color_3: var(--title-color);
$font-family_1: "Posterama", sans-serif;
$background-color_1: var(--nav-overlay-color);

.nav {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-overlay {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 17vh;
	transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
	background-color: $background-color_1;
}

.navbar__container {
	display: flex;
	position: relative;
	justify-content: space-between;
	transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
	width: 100vw;
	height: 7vh;
	padding: 5rem 5rem 5rem 3rem;
}

.side__navbar {
	display: flex;
	justify-content: center;
	gap: 1rem;
	position: relative;
	z-index: 9;
}

.sheboo_logo {
	margin-bottom: 10rem;
}

.logo {
	text-decoration: none;
	color: $color_1;
	font-size: 1.5em;
	font-family: $font-family_1;
	letter-spacing: 0.3rem;
	font-weight: bolder;
	cursor: pointer;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	transform: translateY(-2rem);
}

.logo.spin {
	color: $color_2;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	transition-delay: 1s;
}

.menu-toggle {
	cursor: pointer;
}

.menu-toggled {
	cursor: pointer;

}


.hamBox {
	position: relative;
	z-index: 99999999;
	cursor: pointer;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	height: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	top: -1rem;
}


.lineTop {


	display: block;
	width: 1.5rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--text-color);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: -1em;
}

.lineBottom {
	display: block;
	width: 1.5rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--text-color);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	color: $color_3;
	top: -0.5em;

}
.lineTopAr {
	background: var(--title-color);
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 1.5rem;
	height: 0.225rem;
	border-radius: 0.625rem;
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: 1em;
}


.lineBottomAr {
	background: var(--title-color);
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 1.5rem;
	height: 0.225rem;
	border-radius: 0.625rem;
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	color: $color_3;
	top: 0.35em;
}
.lineTop.spin {
	position: relative;
	top: 0.1em;
	transform: rotate(135deg);
	background: var(--container-color);
}

.lineBottom.spin {
	position: relative;
	top: -0.45em;
	transform: rotate(225deg);
	background: var(--container-color);
}

.nav-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: $color_2;
}
.logoAr {
	cursor: pointer;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);	
	transform: translateY(-2rem);
}
.logoAr.spin {
	cursor: pointer;
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);	
	transform: translateY(-3rem);
	color: var(--container-color);
}


@media (max-width: 454px) {
	.nav {
		width: 70vw;
	}
	.dropdown__icon.spin {
		display: none;
	}

	.nav-overlay {
		height: 20vh;
		width: 100vw;
		z-index: -2;
	}
	.nav__footer {
		display: block;
	}

}
