.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2); 
    background-color: var(--container-color);
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2rem 33.1rem;
    border-radius: 1.5rem;
}



.work__item {
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 0.5rem;
    transition: 0.5s ease;

}

.work__item:hover {
    background-color: var(--title-color);
    color: var(--container-color);
    
}

.work__container {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: center;
}

.work__img {
    width: 295px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.work__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: 0.4s ease;
    -webkit-box-shadow: -1px 8px 47px -17px rgba(0,0,0,0.51);
-moz-box-shadow: -1px 8px 47px -17px rgba(0,0,0,0.51);
box-shadow: -1px 8px 47px -17px rgba(0,0,0,0.51);
}

.work__card:hover {
    transform: scale(1.05);
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work__button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.work__button-icon {
    font-size: 1rem;
    transition: 0.4s ease;
}

.work__button:hover .work__button-icon {
    transform: translateX(00.25rem);
}

/* Active Work */

.active-work {
    background-color: var(--title-color);
    color: var(--container-color);
}