@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Itim&family=Kaushan+Script&family=Oooh+Baby&family=Reggae+One&display=swap');

 .portfolio {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    background-color: var(--body-color);
    padding-bottom: 5rem;
 }


 .portfolio__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    height: calc(100vh - 4rem);
    width: 100%;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .menu__item-image_wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    position: relative;
  }
  
  
  .text-container {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: last baseline;
    text-align: left;
    width: 50%;
    cursor: pointer;

  }
  
  .text-container {
    margin: 0.2rem 0;
    text-align: left;
    
    display: flex;
    align-items: flex-start;
    transition: 0.3s ease;
    line-height: 1.8;
    width: 100%;
    height: 35.25rem; /* Set the height to whatever you want */
    overflow: hidden;
  }

  


.work__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.3s ease;
    width: 100%;
    text-align: left;
    position: relative;
}

.work__title h1 {
  width: 100%;
  color: transparent;
  -webkit-text-stroke: 0.2px var(--project-text-animation-color);
  font-size: 2.6rem;
  font-family: "Reggae One", sans-serif;
  top: 0;
  font-weight: bolder;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1 );
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}

.work__title h1::before {
  position: absolute;
  content: attr(data-text);
  -webkit-text-fill-color: var(--project-text-animation-color);
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1 );
  width: 0%;
  overflow: hidden;
}

.work__title:hover h1::before {
  width: 100%;
}



.work__work-text {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    transition: 0.3s ease;
    text-align: left;
    font-family: "Reggae One", sans-serif;
    font-size: 2.5rem;
    color: var(--accent-color);
  }

  


  
.menu__item-image_wrapper img {
    width: 150%;
    height: 110%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: -20px;
    transition: 0.3s ease;
    border-top-right-radius: 5.4rem;
  }

  .menu__item-image {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1 );
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.99);

    }
    100% {
      opacity: 1;
      transform: scale(1);

    }
  }


  .projects__load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
  }
  
  
  .projects__load-screen {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #dbcdec;
    width: 0%;
    height: 100%;
  }
  

 

  .scrollbarr {
    overflow-y: scroll;
    scrollbar-width: none; /* hide default scrollbar in Firefox */
    overflow-x: hidden;
  }
  
  .scrollbarr::-webkit-scrollbar {
    width: 0; /* hide default scrollbar in Chrome and Safari */
  }
  
  /* Add custom scrollbar styles */
  .scrollbarr::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  .scrollbarr::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
  }
  
  .scrollbarr::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }