@media (min-width: 1649px) {
    .about {
        .about_desktop {
            padding-bottom: 1rem;

            .about__pic {
                img {
                    width: 150vw;
                    height: 55vh;
                    object-fit: cover;
                    border-radius: 0rem;
                    border: none;
                }
            }

            .about__bottom {
                transform: translateY(-25rem);
                min-height: 70vh;
                padding: 0rem 2rem;
            }
        }
    }
}