@media (min-width: 1649px) {
    .about {
        padding-bottom: 1rem;
        .about__pic {
        img {
            width: 150vw;
            height: 55vh;
            object-fit: cover;
            border-radius: 0rem;
            border: none;
        }
        }
        .about__bottom {
            min-height: 190vh;
        }
    }
    
}