.titles {
	position: absolute;
	top: 50%;
	left: 85%;
	transform: translate(-50%, -50%);
    z-index: 9999999;
    display: flex;

}

.containererr {
    position: relative;
}

ul.titles {
	display: flex;
}

.titles h1 {
	transform: translate(-50%, -50%);
	position: absolute;
	left: 0;
	top: 0;
    font-size: 3rem;
    font-weight: 400;
    color: var(--title-color);
    font-family: "Posterama";
    letter-spacing: 0.2rem;
    display: flex;
}

.titled {
    display: flex;
    width: 70vw;
    opacity: 0;
}
