.about {
    height: 100vh;
}

.about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}


.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(0deg);
    transition: 0.6s ease;
}

.about__img:hover {
    transform: rotate(10deg);
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 1.25rem;
    transition: 0.6s ease;
}

.about__box:hover  {
    border-radius: 1rem;
    -webkit-box-shadow: var(--webkit-shadow);
    -moz-box-shadow: var(--moz-shadow);
    box-shadow: var(--box-shadow)
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
    color: var(--accent-color);
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
    color: var(--title-color);
}