@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Itim&family=Kaushan+Script&family=Oooh+Baby&display=swap');


.containered {

    margin-left: 8rem;
    margin-right: 4rem;
}

.about__data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 90%;
    gap: 2rem;
}

.about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 6rem;
}

.about__data-container {
    display: flex;
    justify-content: flex-start;
    align-items: right;
    text-align: right;
    width: 90%;
    gap: 1rem;
}

.about__data-container span {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}

.about__data-container h2 {
    font-size: 3rem;
    font-weight: var(--font-medium);
    color: var(--title-color);
}



.about__img {
    width: 350px;
    justify-self: center;
    border-radius: 1rem;
    overflow: hidden;
    transition: 0.6s ease;
    box-shadow: 6px 6px 0px 4px rgba(0,0,0,1);


}


.about__description {
    padding: 0 4rem 0 0;
    
    color: var(--title-color);
}

.about__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #e2eef9;
    line-height: 0.5;
}

.about__data-numbers {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.about__data-numbers span {
    font-size: 2rem;
}


.expierence {
    padding-top: 5rem;
    height: max-content;
    padding-bottom: 3rem;
}

.education {
    padding-top: 5rem;

    height: max-content;
    padding-bottom: 3rem;
}

.timelocation_text {
    color: var(--accent-color);
}

.comment__text {
    color: var(--text-color);
    white-space: pre-wrap;
    text-align-last: left;
    text-align: justify;
}

.title__text {
    color: var(--title-color);
}

.company__text {
    color: var(--title-color);
    font-size: var(--normal-font-size);

}


.details__row {

    width: 100%;
    align-items: flex-end;
}
.details__top {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.details__location span:nth-child(2) {
    margin-left: 16px;
}

.details__model {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.details__first {
    margin-right: 72px;
}


.details__model span {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 8rem;
    font-family: "Poppins";
    color: var(--title-color);
    letter-spacing: 1rem;

}

.details__bottom-row {
    height: 50vh;
    position: relative;
}
.details__bottom{
    height: 100%;
    width: 100%;
}
.details__image-container-single {
    width: 100%;

    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}



.detailed__frame-single img  {
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.6s ease;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    
}



.detailed__information {
    padding: 6rem 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.detailed__containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
    position: relative;

    
}

.detailed__row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.detailed__row h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: 1rem;
    font-family: "Poppins";
}

.detailed__row p {
    font-family: "Poppins";
    font-size: 1.2rem;
    line-height: 28px;
    font-weight: 400;
    width: 70%;
    color: var(--text-color);
    white-space: pre-wrap;
    text-align-last: left;
    text-align: justify;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
  }
  

.load-screen {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #4E6C50;
    width: 0%;
    height: 100%;
  }
  