
.containered {

    margin-left: 8rem;
    margin-right: 4rem;
}

.about__data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 90%;
    gap: 2rem;
}

.about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 6rem;
}

.about__data-container {
    display: flex;
    justify-content: flex-start;
    align-items: right;
    text-align: right;
    width: 90%;
    gap: 1rem;
}

.about__data-container span {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}

.about__data-container h2 {
    font-size: 3rem;
    font-weight: var(--font-medium);
    color: var(--title-color);
}



.about__img {
    width: 350px;
    justify-self: center;
    border-radius: 1rem;
    overflow: hidden;
    transition: 0.6s ease;
    box-shadow: 6px 6px 0px 4px rgba(0,0,0,1);


}


.about__description {
    padding: 0 4rem 0 0;
    
    color: var(--title-color);
}

.about__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #e2eef9;
    line-height: 0.5;
}

.about__data-numbers {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.about__data-numbers span {
    font-size: 2rem;
}


.expierence {
    padding-top: 5rem;
    height: max-content;
    padding-bottom: 3rem;
}

.education {
    padding-top: 5rem;

    height: max-content;
    padding-bottom: 3rem;
}

.timelocation_text {
    color: var(--accent-color);
}

.comment__text {
    color: var(--text-color);
    white-space: pre-wrap;
    text-align-last: left;
    text-align: justify;
}

.title__text {
    color: var(--title-color);
}

.company__text {
    color: var(--title-color);
    font-size: var(--normal-font-size);

}