

.testimonials__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 2fr);
    grid-gap: 10rem;
}
.testimonial__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    white-space: pre-wrap;
    text-align-last: left;
    text-align: justify;
    padding: 1rem;
    transition: 0.3s ease;
}



.testimonial__card_combined_img_title-combined {
    display: flex;
    text-align: left;
    justify-content: flex-start;
}
.testimonial__card_combined_title_job-combined {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-left: 0.8rem;
    line-height: 0.9;
    
}

.testimonial__card_combined_title_job-combined::before {
    content: "";
    display: block;
    width: 18rem;
    height: 2px;
    background:var(--text-color);
    color: var(--accent-color);
    transition: width 0.3s;
    margin-bottom: 1rem;
  }

  .testimonial__card {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    transition: 0.3s ease;
    height: 300px;
    width: 400px;
  }
.testimonial__img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    padding: 1.5px;
    border: 2px solid var(--rim-color);
}

.testimonial__name {
    font-size: var(--normal-font-size);
    font-weight: 600;
    margin-bottom: 7px;
    color: var(--accent-color);
    font-family: "Satoshi-Bold", sans-serif;

}


.testimonial__description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--title-color);
    margin-top: 1rem;
    font-family: "Satoshi-Regular", sans-serif;
}



.testimonial__job {
    color: var(--accent-color);
    font-weight: 500;
    font-family: "Satoshi-Bold", sans-serif;
    
}


.testimonial__location {
    color: var(--text-color);
    font-weight: 300;
    font-size: 0.8rem;
    font-family: "Satoshi-Regular", sans-serif;
}