.category__button:hover {
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 0.1rem 1rem;
    border-radius: 1rem;
}


.category__button {
    padding: 0.1rem 0.8rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-out;
    background-color: transparent;
}

.category__active {
    background-color: var(--text-color);
    color: var(--container-color);
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    
}

.category__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0.6rem;
}