.blog__details  {
    padding: 50px 0;

  }
  .blog__details_right {
    margin-top: 30px;
  }
  .blog__image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;    
    border-radius: 10px;
    margin-top: 5rem;
  }

  .blog__details_texts h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 0 10rem;
  }
  .blog__details_texts p {
    margin: 1rem 10rem;
    font-size: 18px;
    line-height: 2;
    text-transform: capitalize;
    color: aqua;
  }
  .blog__details_post-date {
    margin: 1rem 0;
  }
  .blog__details_post-date span {
    color: var(--accent-color);
    font-size: 0.85rem;
    font-weight: 400;
    margin-right: 1rem;
  }
  .blog__details_post-date img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

.blog__image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;    
    border-radius: 10px;
    margin-top: 7rem;
}

  .blog__image_container img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 10px;

  }

  .blog__details_post-titleDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

.blog__details_post-text {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  text-overflow: clip;
  text-align-last: left;
  word-wrap: break-word;
  text-justify: inter-word;
  text-align: justify;

}

.blog__details_post-text p {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.3;
  text-transform: capitalize;
  color: var(--blog-text-color);
}

.blog__details_button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.blog__details_button button {
  transition: 0.3s ease;
  font-size: 0.1rem;
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.blog__details_button i {
  font-size: 1rem;
}

.blog__details_button-delete button {
  background-color: #eb9898;
}

.blog__details_button-edit button {
  background-color: #6f988a;
}

.blog__details_button-delete button:hover {
  background: #d37171;
  border-radius: 0;
}

.blog__details_button-edit button:hover {
  background: #45655b;
  border-radius: 0;
}


.blog__details_post-textanddate {
  display: flex;
  gap: 1rem;
  line-height: 1.3;
}

.blog__details_post-textanddate label {
  color: var(--accent-color);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 2;
}

.details__post__date-imgname{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 1rem;
}

.details__post__date-imgname::before {
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background:var(--text-color);
  color: var(--accent-color);
  transition: width 0.3s;
}


.details__post__date_imgname-combined{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: flex-start;
}

.progressive__bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--progressive-bar-color);
  transform-origin: 0%;
}