.pricing__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 2rem;
    gap: 1.2rem;
}

.pricing__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 2rem 4rem;
    text-transform: lowercase;
    transition: 0.6s ease;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    height: max-content;
}


.pricing__content:hover {
    transform: scale(1);
    -webkit-box-shadow: -4px 6px 31px 0px rgba(143, 143, 143, 0.6);
    -moz-box-shadow: -4px 6px 31px 0px rgba(143, 143, 143, 0.6);
    box-shadow: -4px 6px 31px 0px rgba(143, 143, 143, 0.6);
}

.pricing__title {
    display: flex;
    flex-direction: column;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: baseline;
    margin-bottom: var(--mb-1-5);
    text-transform: uppercase;
}

.pricing__box {
    display: flex;
    justify-content: left;
    text-align: baseline;
    flex-direction: column;
    column-gap: 2.4rem;
    margin-bottom: 2rem;
    align-items: flex-start;
    text-align: left;
}

.pricing__description {
    display: flex;
}


.pricing .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
    margin-top: 0.5rem;
}

.pricing__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: flex-start;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.pricing__subtitle {
    display: flex;
    flex-direction: column;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    text-align: baseline;
    margin-bottom: var(--mb-1-5);
    text-transform: uppercase;
}

.pricing__button:hover {
    background-color: black;
    border-radius: 0;
}

.pricing__button {
    transition: 0.4s ease;
    cursor: pointer;
}