$color_1: var(--title-color);
$color_2: var(--text-color);
$color_3: var(--accent-color);
$color_4: var(--container-color);
$font-family_1: "Satoshi-Light", sans-serif;
$font-family_2: "Posterama", sans-serif;
$font-family_3: "Satoshi-BoldItalic", sans-serif;
$background-color_1: var(--body-color);
$background-color_2: var(--transition-color);
$background-color_3: #f5f5f5;
$background-color_4: #aaa;
$background-color_5: #555;

@media (max-width: 480px) {
    .portfolio {
        height: 85vh;
        display: flex;
        width: 75vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        overflow-y: visible;
        overflow-x: visible;
        position: relative;
        background-color: $background-color_1;
        padding-bottom: 1em;
        border-top: 0px solid var(--text-color);
        @media (max-width: 456px) {
            padding-bottom: 0;
        }
    }

    .portfolio__container {
        transform: translate(4rem, 4rem);
    }

    body {
        overscroll-behavior-x: none;
        touch-action: pan-y;
    }

    .text-container {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        cursor: pointer;
        margin: 0.2rem 0;
        text-align: left;
        align-items: flex-start;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        line-height: 1.9;
        width: 100%;
        height: 40.25rem;
        overflow: visible;
        margin-right: 8.5rem;
    }

    .work__title {
        .menu-text {
            width: 85vw;
            justify-content: space-between;
            .isNew {
                @media (max-width: 464px) and (min-width: 434px) {
                    padding-top: 1.5rem;
                }
            }
        }

        p {
            font-size: 0.8rem;
            font-weight: var(--font-medium);
            margin-bottom: var(--mb-0-5);
            font-family: $font-family_1;
            color: $color_1;
            text-align: right;
            @media (max-width: 464px) and (min-width: 434px) {
                padding-top: 2rem;
            }
        }

        h1 {
            width: 100%;
            color: $color_1;
            font-size: 1.4rem;
            font-family: $font-family_2;
            top: 0;
            font-weight: bolder;
            transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
            position: relative;
            white-space: nowrap;
            cursor: pointer;
            padding-top: 0.5rem;
            letter-spacing: 0.1rem;
            @media (max-width: 464px) and (min-width: 434px) {
                padding-top: 2rem;
            }
        }
    }

    .menu-arrow {
        display: none;
    }
}


@media (max-width: 376px) {
    .portfolio__container {
        transform: translate(3.5rem, 10rem);
    }
}