@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Itim&family=Kaushan+Script&family=Oooh+Baby&family=Reggae+One&display=swap');

.home__container {
    row-gap: 7rem;
    height: 90vh;
}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5rem;
    column-gap: 2rem;
    align-items: center;
    
}


.home__img {
    background: url(../../assets/profile5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: var(--box-shadow-img);
    /* Order deh sha2lbt el position 
    khalt el yemen shmal wel shmal yemen */
    justify-self: center;
    order: 1;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--accent-color);
}

.home__social-icon:hover {
    color: var(--title-color-dark)
}

.home__title {
    font-size: 2.7rem;
    margin-bottom: var(--mb-0-25);
}


.sayhi__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: var(--title-color);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    width: 50%;
    text-align: center;

}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
    color: var(--title-color);
}
 

.home__subtitle::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}


.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
    color: var(--title-color);
}


.home__scroll {
    margin-left: 9.25rem;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s ease;
    gap: 2rem;


}

.home__scroll:hover {
    color: var(--accent-color-darker);
    
}

.wheel {
    animation: scrollDown 1s ease infinite;
    color: var(--accent-color);
    
}


.scroll {
    z-index: 1;
    animation: scrollArrow 1s ease-in-out 0s infinite alternate-reverse both;
}



@keyframes scrollArrow { 
    0% {
		animation-timing-function: ease-in;
		opacity: 0.9;
		transform: translateY(-24px);
	}


}

@keyframes scrollDown {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(1rem);
    }

}
.home__scroll-name {
    padding: 8px;
    position: relative;
    bottom: 0.625rem;
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: 0.4s ease;
}




.home__scroll-arrow {
    bottom: 0.525rem;
    color: var(--accent-color);
    animation: scroll 2s ease infinite;
    font-size: 1.2rem;
    animation: scrollDown 2s ease infinite;
    position: relative;
    display: inline-block;

}

.home__scroll-button {
    display: flex;
    gap: 1rem;
    color: var(--accent-color);
    transition: 0.4s ease;
    text-align: center;
    cursor: pointer;
    line-height: 1.5;

}

.button__icon {
    width: 22px;
    height: 22px;
    position: relative;
    top: -0px;
}



/* ========== BREAKPOINTS ========== */

@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .home__img {
        width: 200px;
        height: 200px;
    }
    .home__title {
        font-size: 2.2rem;
    }
    .home__subtitle {
        font-size: var(--h4-font-size);
        padding-left: 4.5rem;
    }
    .home__subtitle::before {
        width: 60px;
    }
    .home__description {
        max-width: 100%;
    }
    .home__scroll {
        margin-left: 0;
    }
    .home__scroll-name {
        bottom: 0.625rem;
    }
    .home__scroll-arrow {
        bottom: 0.525rem;
    }
}

@media screen and (max-width: 480px) {
    .home__subtitle {
        padding-left: 3.5rem;
    }
    .home__subtitle::before {
        width: 50px;
    }
}

@media screen and (max-width: 375px) {
    .home__subtitle {
        padding-left: 2.5rem;
    }
    .home__subtitle::before {
        width: 40px;
    }
}

@media screen and (max-width: 320px) {
    .home__subtitle {
        padding-left: 1.5rem;
    }
    .home__subtitle::before {
        width: 30px;
    }
}

/* Path: src/components/home/Home.js */ 

@keyframes grain {
    0%, 100% {
        transform: translate(0, 0);
   }
    10% {
        transform: translate(-5%, -10%);
   }
    20% {
        transform: translate(-15%, 5%);
   }
    30% {
        transform: translate(7%, -25%);
   }
    40% {
        transform: translate(-5%, 25%);
   }
    50% {
        transform: translate(-15%, 10%);
   }
    60% {
        transform: translate(15%, 0%);
   }
    70% {
        transform: translate(0%, 15%);
   }
    80% {
        transform: translate(3%, 35%);
   }
    90% {
        transform: translate(-10%, 10%);
   }
}


.about__containerr {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about__row  {
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

} 



.image__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;



}


.frame__containerr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}


.about__thumbnail {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.about__frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}



.about__frame img {
    width: 100%;

}
.about__information {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 0.8rem;
}
 .about__location span:nth-child(2) {
    margin-left: 8px;
}



.block {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .b-1 {
    background: url("../../assets/profile.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-2 {
    background: url("../../assets/profile6.jpg")50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-3 {
    background: url("../../assets/profile3.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-4 {
    background: url("../../assets/profile1.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-5 {
    background: url("../../assets/profile2.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-6 {
    background: url("../../assets/profile4.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-7 {
    background: url("../../assets/profile5.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .main__title {
    text-align: center;
    font-family: "Reggae One", sans-serif; 
    font-size: 10em;
    font-weight: 500;
    color: var(--title-color);
    overflow: hidden;
  }
  
  .main__title .letter {
    display: inline-block;
    line-height: 1em;
  }