
  .containererr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
    width: 400px;
    height: 300px;
  }
  
  .block {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
 
  .b-1 {
    background: url("../../assets/profile.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-2 {
    background: url("../../assets/profile6.jpg")50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-3 {
    background: url("../../assets/profile3.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-4 {
    background: url("../../assets/profile1.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-5 {
    background: url("../../assets/profile2.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-6 {
    background: url("../../assets/profile4.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  .b-7 {
    background: url("../../assets/profile5.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: -10rem;
    background: var(--overlay-color);

  }
  
  .title {
    margin-top: 20rem;
    text-align: center;
    font-family: "Canopee";
    font-size: 10em;
    color: #393833;
    overflow: hidden;
  }
  
  .title .letter {
    display: inline-block;
    line-height: 1em;
  }

  .main__containerr {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    right: 0;
    bottom: 0;
    margin-bottom: 10rem;
  }