$font-family_1: "Posterama", sans-serif;
$color_2: var(--accent-color);

.project__image_container-mobile img {
    position: relative;
    width: 100%;
    height: 36rem;
    left: -0rem;
    top: 5rem;
    object-fit: cover;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 0.2px solid var(--text-color);
    border-top: 0px solid #000;
}

.project__img_container {

    .project__details_details-light-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
        gap: 3rem;
        padding: 0rem;

        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: $color_2;
            margin-bottom: 1rem;
            letter-spacing: 0.3rem;
            font-family: $font-family_1;
            text-align: center;
        }

        .project__details-img-light-mobile {
            width: 90%;
            height: 90%;
            border-radius: 2rem;
            margin-bottom: 1rem;
            pointer-events: none;

            img {
                width: 95%;
                height: 95%;
                margin-bottom: 1rem;
                pointer-events: none;
            }
        }
    }
}

.background__img-mobile {
    position: fixed;
    width: 50%;
    height: 50%;
    object-fit: cover;
    filter: blur(205px);
}

@media (max-width: 470px) {
    project__details_details {
        padding: 0 1rem;
    }

    .project__details_post-text {
        margin-top: 2rem;
    }

    .project__details-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .background__img-mobile {
        position: fixed;
        width: 80%;
        height: 80%;
        object-fit: cover;
        filter: blur(105px);
    }

    .project__img_container {
        margin-right: 4rem;
    }

    .menu-item-wrapper {
        padding-left: 4rem;
    }

    .project__details-img {
        width: 98vw;
    }
}

@media (max-width: 416px) {
    .project__card_details {
        position: relative;
        width: 100vw;

        .project__image_container {
            padding-bottom: 2rem;
        }

        .project__details_post-text {

            width: 100%;
            position: relative;
        }
    }



}