.project__image_container-mobile img {
    position: relative;
    width: 100%;
    height: 36rem;
    left: 0%;
    top: 5rem;
    object-fit: cover;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 0.2px solid var(--text-color);
    border-top: 0px solid #000;
}

@media (max-width: 470px) {
    project__details_details {
        padding: 0 1rem;
    }

    .project__details_post-text {
        margin-top: 2rem;
    }

    .project__details-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .background__img {
        position: fixed;
        width: 80%;
        height: 80%;
        object-fit: cover;
        filter: blur(105px);
    }

    .project__img_container {
        margin-right: 3.3rem;
    }

    .menu-item-wrapper {
        padding-left: 4rem;
    }

    .project__details-img {
        width: 90vw;
    }
}

@media (max-width: 416px) {
    .project__card_details {
        position: relative;
        width: 100vw;

        .project__image_container {
            padding-bottom: 2rem;
        }

        .project__details_post-text {

            width: 100%;
            position: relative;
        }
    }



}