$color_1: var(--text-color);
$color_2: var(--accent-color);
$color_3: var(--nav-overlay-color);
$color_4: var(--title-color);
$font-family_1: "Posterama", sans-serif;

.project__details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	width: 100%;
	min-height: 150vh;
	transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
	position: relative;
	background-color: var(--body-color);
}

.project__card_details {
	position: relative;
	width: 68vw;
	min-height: fit-content;
	top: -11rem;
	background-color: var(--body-color);
	transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);

	.project__image_container img {
		position: relative;
		width: 73rem;
		height: 36rem;
		left: 1rem;
		object-fit: cover;
		border-bottom-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
		border: 0.2px solid #000;
		border-top: 0px solid #000;
	}
}

.project__details_post-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding: 1rem;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
	gap: 1rem;
	position: relative;
	top: 7rem;

	h1 {
		font-size: 3rem;
		font-weight: 600;
		color: $color_2;
		margin-bottom: 1rem;
		font-family: $font-family_1;
		letter-spacing: 0.5rem;
	}

	.project__details_details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 4rem;
		gap: 3rem;

		h2 {
			font-size: 2rem;
			font-weight: 600;
			color: $color_2;
			margin-bottom: 1rem;
			letter-spacing: 0.3rem;
			font-family: $font-family_1;
		}
	}
}


.project__details-brief {
	width: 70vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid #000;
	padding-top: 2rem;

	h2 {
		font-size: 1.5rem;
		font-weight: 600;
		color: $color_2;
		margin-bottom: 1rem;
		font-family: $font-family_1;
	}
}

.category__date {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.categoryy {
		display: flex;
		justify-content: space-between;
		gap: 2rem;

		.category__list {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			justify-content: flex-end;
			align-items: flex-start;

			h2 {
				color: $color_4;
			}
		}
	}

	.datee {
		display: flex;
		justify-content: space-between;
		gap: 6rem;

		.datee__list {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			justify-content: flex-end;
			align-items: flex-start;

			h2 {
				font-size: 1.5rem;
				font-weight: 600;
				color: $color_4;
				margin-bottom: 1rem;
				font-family: $font-family_1;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
	}
}

.shehab {
	display: none;
}

.project__details-comment {
	font-size: 0.8rem;
	font-weight: 600;
	color: $color_1;
	margin-bottom: 1rem;
	letter-spacing: 0.1rem;
	font-family: "Aboreto";
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	a {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		color: $color_4;
		position: relative;
		font-size: 1.1rem;

		&::after {
			content: "";
			position: absolute;
			left: 1.4rem;
			top: 1.9rem;
			width: 0%;
			height: 2px;
			background-color: $color_4;
			transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
		}

		&:hover {
			&::after {
				width: 25%;
			}
		}

	}

	.project__links {
		display: flex;
		justify-content: space-between;
	}
}

.project__next_project {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		width: 97%;
		padding: 1rem;
		position: relative;
		text-align: left;
		top: 7rem;
		left: 2%;
		transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
		gap: 1rem;
		border-top: 1px solid var(--text-color);
		overflow: hidden;
		h1 {
			font-size: 2rem;
			font-weight: 600;
			color: $color_2;
			margin-bottom: 1rem;
			font-family: $font-family_1;
			letter-spacing: 0.5rem;
		}
		&:hover {
			.menu-item-wrapper {
				left: 0%;
			}
		}
	
		.menu-item-wrapper {
			display: flex;
			position: relative;
			transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
	
			.menu-arrow {
				i {
					position: relative;
					top: 1.5rem;
					margin-right: 10px;
					font-size: 2rem;
					color: $color_1;
				}
			}
			.menu-text {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 24vw;
				transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
				.next__project {
					display: flex;
					position: relative;
					left: 5%;
				}
			}
		}
		.project__next_project_name {
			display: flex;
			flex-direction: column;
		}
	
}

@media (min-width: 1850px) {
	.project__card_details {
		position: relative;
		width: 68vw;
		min-height: fit-content;
		top: -11rem;
		background-color: var(--body-color);
		transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
	
		.project__image_container img {
			position: relative;
			width: 73rem;
			height: 36rem;
			left: 5rem;
			object-fit: cover;
			border-bottom-left-radius: 2rem;
			border-bottom-right-radius: 2rem;
			border: 0.2px solid var(--text-color);
			border-top: 0px solid #000;
		}
	}
}