

.dropdown-menu {
    z-index: -1;
}

  .active .dropdown-menu {
    display: block;
  }

  .dropdown__icon  {
    margin: 0 auto;
    position: relative;
    color: var(--text-color);
    display: block;
    left: 0rem;
    right: 0px;
    font-family: "Satoshi-Bold", sans-serif;
    font-weight: 600;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .dropdown__icon:hover {
    cursor: pointer;
  }


  .dropdown__icon.spin {
    position: relative;
    color: var(--container-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    transition-delay: 0.3s;
    padding: 0.6rem;

  }