$color_1: var(--title-color);
$font-family_1: "Satoshi-Bold", sans-serif;

.parallaxText {
	overflow: hidden;
	letter-spacing: 12px;
	line-height: 0.8;
	margin: 0;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 2rem;
	.scroller {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 5rem;
		display: flex;
		white-space: nowrap;
		display: flex;
		flex-wrap: nowrap;
	}
	span {
		display: block;
		color: $color_1;
		font-family: $font-family_1;
	}
}
