$color_1: var(--title-color);
$font-family_1: "Satoshi-Bold", sans-serif;

.parallax {
	overflow: hidden;
	letter-spacing: 12px;
	line-height: 0.8;
	margin: 0;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 4rem;
	.scroller {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 5rem;
		display: flex;
		white-space: nowrap;
		display: flex;
		flex-wrap: nowrap;
	}
	span {
		display: block;
		color: $color_1;
		font-family: $font-family_1;
	}
}
@media (max-width: 600px) {
	.parallax {
		flex-wrap: wrap;
		letter-spacing: 0;
		line-height: 1;
		.scroller {
			font-size: 3rem;
		}
	}
}
