.parallaxText {
    overflow: hidden;
    letter-spacing: 12px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
  }
  
  .parallaxText .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 5rem;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallaxText span {
    display: block;

    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
  }
  
