.nav__link {
    margin: 0 auto;
    position: relative;
    color: var(--title-color);
    display: block;
    left: 0rem;
    right: 0px;
    display: none;
    font-family: "Posterama", sans-serif;
    width: 100%;
    letter-spacing: 0.3rem;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}



.nav__link.spin {
    position: relative;
    color: var(--overlay-color);
    transition: all 5.5s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 0.6rem;
    display: block;
}

.nav__link.spin::after {
    content: "";
    position: absolute;
    left: 0.8rem;
    top: 2.2rem;
    width: 10%;
    height: 2px;
    background-color: var(--container-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav__link.spin:hover::after {
    transform: scaleX(1); 
  }

  .nav__links-links {
    display: flex;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  }


  @media (max-width: 414px) {
    .nav__link {  

      font-size: 0.65rem;
    }

    .nav__link.spin {
      letter-spacing: normal;
      padding: 0.2rem;;
    }
    .nav__links-links {
        width: 40%;
        position: absolute;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        z-index: 999;
        gap: 0rem;
        left: 0.5rem;
        top: 1.35rem;
      }

} 