$color_1: var(--title-color);
$color_2: var(--overlay-color);
$font-family_1: "Posterama", sans-serif;
$background-color_1: var(--container-color);

.nav__link {
	margin: 0 auto;
	position: relative;
	color: $color_1;
	display: block;
	left: 0rem;
	right: 0px;
	display: none;
	font-family: $font-family_1;
	width: 100%;
	letter-spacing: 0.3rem;
	transition: all 3.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.nav__link.spin {
	position: relative;
	color: $color_2;
	transition: all 3.5s cubic-bezier(0.16, 1, 0.3, 1);
	display: block;
	&::after {
		content: "";
		position: absolute;
		left: 0.8rem;
		top: 2.2rem;
		width: 0%;
		height: 2px;
		background-color: $background-color_1;
		transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
	}
	&:hover {
		&::after {
			width: 50%;
		}
	}
}
.nav__links-links {
	display: flex;
	gap: 0.3rem;
	transition: all 3.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav__links-links.spin {
	width: 100%;
	position: absolute;
	transition: all 3.5s cubic-bezier(0.16, 1, 0.3, 1);
	z-index: 999;
	gap: 0rem;
	left: 0.5rem;
	top: 1.35rem;
}

@media (max-width: 414px) {

	.nav__link.spin {
		letter-spacing: normal;
		padding: 0rem;
		margin-bottom: 1rem;
	}
}

