.nav__link {
    margin: 0 auto;
    position: relative;
    color: var(--title-color);
    display: block;
    left: 0rem;
    right: 0px;
    display: none;
    font-family: "Satoshi-Bold", sans-serif;
    width: 100%;
}



.nav__link.spin {
    position: relative;
    color: var(--overlay-color);
    transition: all 2.5s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 0.6rem;
    display: block;
}

.nav__link.spin::after {
    content: "";
    position: absolute;
    left: 0.8rem;
    top: 2.2rem;
    width: 50%;
    height: 2px;
    background-color: var(--container-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav__link.spin:hover::after {
    transform: scaleX(1); 
  }

  .nav__links-links {
    display: flex;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  }


  @media (max-width: 414px) {
    .nav__link {
        display: block;
        margin: 0 0;
        position: relative;
        color: var(--title-color);
        left: -1rem;
        right: 0rem;
        top: 1rem;
        display: none;
        font-family: "Satoshi-Bold", sans-serif;
        width: 200%;
        font-size: 0.3rem;
    }
    .nav__links-links {
        display: flex;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
      }
}