$color_1: var(--accent-color);
$color_2: var(--text-color);
$color_3: var(--title-color);
$background-color_1: var(--container-color);
.footer {
	background-color: $background-color_1;
	border-top: var(--footer-border-color);
	@media (max-width: 450px) {
		margin-top: 4rem;
		width: 100vw;
		padding-right: 1rem;
	}
	@media (max-width: 414px) {
		margin-top: 4rem;
		position: relative;
		top: 8rem;
	}
	.footer__container {
		@media (max-width: 450px) {
			padding: 0.5rem;
			padding-bottom: 0.5rem;
		}
		@media (max-width: 450px) {
			h1 {
				padding-top: 1rem;
			}
		}
		@media (max-width: 414px) {
			h1 {
				width: 100vw;
			}
		}
		.footer__title {
			font-size: 1.5rem;
			display: flex;
			justify-content: center;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.7rem;
			align-items: center;
			padding-left: 2.5rem;
		}
		padding: 1.5rem 2rem 1rem 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		h2 {
			font-family: "Posterama";
		}
		.footer__social {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
			flex-direction: column;
			margin-top: 3rem;
			transform: translateX(1.3rem);
			@media (max-width: 450px) {
				margin-top: 1.5rem;
			}
			p {
				font-family: "Posterama";
				@media (max-width: 450px) {
					font-size: 0.8rem;
				}
				strong {
					color: $color_1;
					font-size: 0.85rem;

					@media (max-width: 450px) {
						font-size: 0.8rem;
					}
				}
				font-size: 0.8rem;
				color: $color_2;
			}
			.footer__info {
				display: flex;
			}
			.footer__socials {
				display: flex;
				justify-content: center;
				gap: 1rem;
				margin-top: 1rem;
				.footer__social-link {
					color: $color_1;
					font-size: 1.2rem;
					display: flex;
					transition: 0.3s ease;
					justify-content: center;
					align-items: center;
					margin-right: 1rem;
					&:hover {
						color: $color_3;
					}
				}
			}
		}
		.footer__copyright {
			position: relative;
			@media (max-width: 450px) {
				padding-left: 3.3rem;
			}
			&::before {
				content: "";
				display: block;
				width: 8.75rem;
				height: 0.040rem;
				;
				background: var(--text-color);
				color: $color_1;
				left: 5.2rem;
				top: -1rem;
				transition: width 0.3s;
				position: absolute;
				@media (max-width: 450px) {
					width: 12.75rem;
					height: 0.125rem;;
					background: #cccccc;
					left: 5.3rem;
					top: -1rem;
				}
			}
			margin-top: 2rem;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			gap: 0.8rem;
			color: $color_1;
			padding-left: 2.5rem;
		}
	}

}