
.footer {
    background-color: var(--container-color);
    border-top: var(--footer-border-color);
}

.footer__container {
    padding: 1.5rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer__link {
    color: var(--accent-color);
}


.footer__title {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    align-items: center;
    padding-left: 2.5rem;
}

.footer__link:hover {
    color: var(--accent-color);
}
.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-left: 2.2rem;
}
.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 3rem;

}

.footer__social p strong {
    color: var(--accent-color);
    font-size: 0.69rem;
}

.footer__social p {
    font-size: 0.69rem;
    color: var(--text-color);
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    
}

.footer__follow {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0.2rem 0;
    
}

.footer__social-link {
    color: var(--accent-color);
    font-size: 0.9rem;
    display: flex;
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
}

.footer__social-link:hover {
    transform: scaleZ(1.5);
    color: var(--title-color-dark);
}

.footer__copyright::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background:#cccccc;
    color: var(--accent-color);
    margin: 1rem 0 0.5rem;
    transition: width 0.3s;
}


.footer__copyright {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    color: var(--accent-color);
}