$color_1: var(--accent-color);
$color_2: var(--text-color);
$color_3: var(--title-color-dark);
$background-color_1: var(--container-color);

.footer {
	background-color: $background-color_1;
	border-top: var(--footer-border-color);
}
.footer__container {
	padding: 1.5rem 2rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		font-family: "Posterama";
	}
}
.footer__link {
	color: $color_1;
	&:hover {
		color: $color_1;
	}
}
.footer__title {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.7rem;
	align-items: center;
	padding-left: 2.5rem;
}
.footer__list {
	display: flex;
	justify-content: center;
	column-gap: 2rem;
	margin-left: 2.2rem;
}
.footer__social {
	padding-left: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	flex-direction: column;
	margin-top: 3rem;
	p {
		strong {
			color: $color_1;
			font-size: 0.85rem;
		}
		font-size: 0.8rem;
		color: $color_2;
	}
}
.footer__socials {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
}
.footer__follow {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 0.2rem 0;
}
.footer__social-link {
	color: $color_1;
	font-size: 1.2rem;
	display: flex;
	transition: 0.3s ease;
	justify-content: center;
	align-items: center;
	&:hover {
		transform: scaleZ(1.5);
		color: $color_3;
	}
	margin-right: 1rem;
}
.footer__copyright {
	position: relative;
	&::before {
		content: "";
		display: block;
		width: 6.75rem;
		height: 0.125rem;;
		background: #cccccc;
		color: $color_1;
		left: 8.2rem;
		top: -1rem;
		transition: width 0.3s;
		position: absolute;
	}
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	color: $color_1;
	padding-left: 5rem;
}


@media (max-width: 450px)  {

	.footer {
		margin-top: 2rem;
		width: 105vw;
	}

	.footer__container {
		padding: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.footer__container h1 {
		padding-top: 1rem;
	}

	.footer__social {
		margin-top: 1.5rem;
	}

	.footer__copyright {
		padding-left: 3.3rem;
		&::before {
			content: "";
			display: block;
			width: 6.75rem;
			height: 0.125rem;;
			background: #cccccc;
			color: $color_1;
			left: 6.8rem;
			top: -1rem;
			transition: width 0.3s;
			position: absolute;
		}
	}
}