.signup__container {
    grid-template-columns: repeat(1, 350px);
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.signup__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 2rem 4rem;
    text-transform: lowercase;
    transition: 0.6s ease;
    width: fit-content;
}

.signup__content:hover {
    -webkit-box-shadow: var(--webkit-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
    box-shadow: var(--box-shadow);
}

.signup__title {
    font-size: var(--nornmal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
    text-transform: uppercase;
}

.signup__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 2.4rem;
    gap: 0.5rem;
}

.signup__user input {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.6s ease;
    color: var(--accent-color);
    background-color: var(--insider-color);
}

.signup__user input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    background-color: var(--insider-color);
}

.signup-with-google-btn {
    background-color: var(--text-color);
    color: var(--container-color);
    padding: 0.7rem 1.2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    display: inline-block;
    align-items: center;
    transition: 0.6s ease;
    font-size: var(--small-font-size);
}

.signup-with-google-btn:hover {
    background-color: var(--title-color);
    border-radius: 0rem;
}

.signup__page-content {
    display: flex;
    flex-direction: column;
}

.signup__form {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 0.3rem;
}

.signup__user {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.signup__input {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    gap: 0.2rem;
}

.signup__input input {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.6s ease;
    color: var(--accent-color);
    background-color: var(--insider-color);
}

.signup__input input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    background-color: var(--insider-color);
}



.signup__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
}

.button__icon-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    margin-top: 0.2rem;
}

.signup__button-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    background-color: var(--text-color);
    color: var(--container-color);
    font-weight: var(--font-medium);
    align-items: center;
    transition: 0.6s ease;
}


.signup__button-sign:hover {
    background-color: var(--title-color);
    border-radius: 0rem;
}

.signup__button-sign:active {
    background-color: var(--title-color);
    border-radius: 0rem;
}

.signup__forgot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    text-decoration: none;
    transition: 0.6s ease;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signup__link {
    color: var(--accent-color);
}

.signup__user {
    display: flex;
}

.signup__passwords {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}


.signup__input-error {
    font-size: 10px;
    color: red;
}