@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@276&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ============ VARIABLES CSS ============ */

:root {
  --header-height: 3rem;
  /* =========== COLORS =========== */
  /* Color mode HSL (Hue, Saturation, lightness */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 30%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #ffffff;

  /* =========== Font And Typography =========== */

  --body-font: "Poppins", sans-serif;

  /* 0.5rem = 8px | 1rem = 16px ...*/
   --big-font-size: 3.5rem;
   --h1-font-size: 2.25rem;
   --h2-font-size: 1.5rem;
   --h3-font-size: 1.25rem;
   --normal-font-size: 1rem;
   --small-font-size: 0.875rem;
   --smaller-font-size: 0.813rem;
   --tiny-font-size: 0.625rem;

   /* ========== Font Weight ========== */

    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ========== Margins Bottom ========== */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /* ========== Z Index ========== */


    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Responsive Typography */

    @media screen and (max-width: 992px) {
      root: {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
      }
    }
}



/* ========== Base ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
    text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  
}

img {
  max-width: 100%;
  height: auto;
}

/* ========== REUSABLE CSS CLASSES ========== */


.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title, .section__subtitle {
  text-align: center;
}

/* ========== REUSABLE CSS CLASSES ========== */

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}


/* ========== REUSABLE CSS CLASSES ========== */

.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}



.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-block;
  align-items: center;
}


#trailer {
  height: 20px;
  width: 20px;
  background-color: rgb(94, 94, 94);
  position: fixed;
  border-radius: 20px;
  left: 0px;
  top: 0px;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}





/* ========== BREAKPOINTS ========== */

/* For Larger Devices */
