.cursor-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--accent-color);
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 0.8);
}

.cursor-outline {
    width: 2.1rem;
    height: 2.1rem;
    border: 1px solid var(--title-color);
    transition: all 0.35s cubic-bezier(0.16, 1, 0.3, 0.8);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
}

::selection {
    background-color: var(--accent-color);
    color: var(--container-color);
}

body {
    cursor: none;
}

li.pointer {
    cursor: none;
}

.noise::before {
    content: "";
    position: fixed;
    background-image: url("../../assets/noise.gif");
    pointer-events: none;
    z-index: 1000;
	height: 300%;
	left: -50%;
    opacity: 0.032;
	position: fixed;
	top: -100%;
	width: 300%;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0); }
    10% { transform:translate(-5%, -10%); }
    20% { transform:translate(-15%, 5%); }
    30% { transform:translate(7%, -25%); }
    40% { transform:translate(-5%, 25%); }
    50% { transform:translate(-15%, 10%); }
    60% { transform:translate(15%, 0%); }
    70% { transform:translate(0%, 15%); }
    80% { transform:translate(3%, 35%); }
    90% { transform:translate(-10%, 10%); }
  }
  



@media (max-width: 454px) {
    .cursor-dot {
        display: none;
    }

    .cursor-outline {
        display: none;
    }
}