.faq {
}

.faq__holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding: 5rem 5rem;


}

.faq__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 4.5rem;
}

.faq__title::after {
    content: "";
    display: block;
    width: 30rem;
    height: 0.05rem;
    background-color: var(--text-color);
    margin-top: 0.5rem;
    transition: 0.3s ease-in-out;
}

.faq__header {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.faq__icon {
    font-size: 2rem;
    color: var(--primary-color);
}

.faq__body {
    margin-top: 1rem;
    justify-content: center;
    transition: all 0.3s ease;
    /* display: none; */

}

.faq__header {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--accent-color);

    cursor: pointer;
    transition: all 0.3s ease;
}


.faq__text {
    display: flex;
    font-size: 1rem;
    color: var(--text-color);
    transition: all 0.3s ease-out;
    cursor: pointer;
}


.faq__text-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.faq__text-container {
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .faq__text-container.open {
    opacity: 1;
  }

  .faq__container.active .faq__text-container {
    height: auto;
    opacity: 1;
  }